/.github                 export-ignore
/.gitattributes          export-ignore
/.gitignore              export-ignore
/.markdownlint.json      export-ignore
/.vscode                 export-ignore
/.php-cs-fixer.dist.php  export-ignore
/examples                export-ignore
/phpmd.xml               export-ignore
/phpstan.neon            export-ignore
/phpunit.xml             export-ignore
/tests                   export-ignore
